# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Firebase config (consider removing sensitive files)
firebase.json
android/app/google-services.json

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android Studio build artifacts
/android/app/debug/
/android/app/profile/
/android/app/release/

# Symbolication and obfuscation related files
app.*.symbols
app.*.map.json

# Ignore APKs and AABs
*.apk
*.aab

# Editor files
*.idea/
*.vscode/